/* minimal height of the tab element */
div#tabs {
	min-height: 610px
}

/* keep space between labels and input element */
div#tabs input,span {
	margin-left: 15px
}

/* font formatting of the resulting calculator text */
span.mietentscheid-result {
	font-size: 96px;
	font-weight: bold
}

/* adapt tablink color to mietentscheid */
li.ui-tabs-active.mietentscheid-tabs-tab {
	background-color: #e53534
}

/* adapt mietentscheid-styled slider */
div.ui-slider.mietentscheid-slider {
	margin-top: 32px;
	margin-bottom: 32px
}

div.ui-slider-handle.mietentscheid-slider-handle {
	top: -2.3em;
	width: 5em;
	height: 5em;
	background-color: #e53534;
}

div.ui-slider-handle.mietentscheid-slider-handle img {
	width: 100%;
}

/* correct border colors */
div.ui-slider-handle.mietentscheid-slider-handle.ui-state-active,
li.ui-tabs-tab.mietentscheid-tabs-tab {
	border-bottom-color: #c5c5c5;
	border-left-color: #c5c5c5;
	border-right-color: #c5c5c5;
	border-top-color: #c5c5c5
}

