doctype html
html
	head
		title
			Mietentscheid Stuttgart - Wohngeldrechner

	body
		block header
			p Main page

		block content
			p !{contents}

		block footer
			a(href='https://www.mietentscheid-stuttgart.de') Mietentscheid Stuttgart
