block defines
	- htmlClasses = ''
	- bodyClasses = ''

doctype html
html(class=htmlClasses lang="de-DE")
	head
		block head

	body(class=bodyClasses)
		block body
			block header

			block content
				<!-- BEGIN - COPY&PASTE HTML CODE INTO WORDPRESS POST -->
				p!= contents
				<!-- END - COPY&PASTE HTML CODE INTO WORDPRESS POST -->


			block footer

