block defines
	- htmlClasses = ''
	- bodyClasses = ''

doctype html
html(class=htmlClasses lang="de-DE")
	head
		block head

	body(class=bodyClasses)
		block body
			block header

			block content
				p !{contents}

			block footer

