extends layout.pug

block append head
	link(rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.min.css")

	link(rel="stylesheet" href="bower_components/jqplot-bower/dist/jquery.jqplot.min.css")

block append header
	script(language="JavaScript" src="bower_components/jquery/dist/jquery.min.js")
	script(language="JavaScript" src="bower_components/jquery-ui/jquery-ui.min.js")
	
	script(language="JavaScript" src="bower_components/jqplot-bower/dist/jquery.jqplot.min.js")
