---
layout:	mietentscheid-stuttgart.pug
---

link(rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css")
link(rel="stylesheet" href="libs/jquery-jqplot/jquery.jqplot.css")

link(rel="stylesheet" href="wohnberechtigung-ui.css")

script(language="JavaScript" src="libs/jquery/jquery.min.js")
script(language="JavaScript" src="libs/jquery-ui/jquery-ui.min.js")
script(language="JavaScript" src="libs/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")

script(language="JavaScript" src="libs/jquery-jqplot/jquery.jqplot.js")
script(language="JavaScript" src="libs/jquery-jqplot/plugins/jqplot.barRenderer.js")
script(language="JavaScript" src="libs/jquery-jqplot/plugins/jqplot.categoryAxisRenderer.js")
script(language="JavaScript" src="libs/jquery-jqplot/plugins/jqplot.pointLabels.js")

script(language="JavaScript" src="wohnberechtigung.js")

div#tabs
	ul
		li.mietentscheid-tabs-tab
			a(href="#tabs-1") Fragen
		li.mietentscheid-tabs-tab
			a(href="#tabs-2") Auswertung
		li.mietentscheid-tabs-tab
			a(href="#tabs-3") Fakten

	div#tabs-1
		p
			label(for="anzahlPersonen") Anzahl Personen im Haushalt: 
			input#anzahlPersonen(type="text" value="1")
			div#anzahlPersonenSlider.mietentscheid-slider
				div.ui-slider-handle.mietentscheid-slider-handle
					img(src="SliderTransparent.png")

		p
			label(for="einkommen") Jahresbruttoeinkommen:
			input#einkommen(type="text" value="0 €")
			div#einkommenSlider.mietentscheid-slider
				div.ui-slider-handle.mietentscheid-slider-handle
					img(src="SliderTransparent.png")

		p(style="height:64px")
		p
			button#weiter-1(class="ui-button") Weiter

	div#tabs-2
		p Hast Du Anrecht auf eine Sozialwohnung?
		span#sozialWohnung.mietentscheid-result
		p(style="height:64px")
		p Hast Du Anrecht auf eine geförderte Wohnung für mittlere Einkommen?
		span#wohnungMittleresEinkommen.mietentscheid-result
		p(style="height:32px")
		p
			button#weiter-2(class="ui-button") Weiter

	div#tabs-3
		p
			h3 Fakten
			div#plot
			span Quelle: 
			a(href="https://www.stuttgarter-nachrichten.de/inhalt.sozialmietwohnungen-in-stuttgart-stadt-stuttgart-lockert-vorgaben-fuer-vermieter.42647419-19b0-45e5-a830-65797e398fde.html") Stuttgarter Nachrichten
script(language="JavaScript" src="wohnberechtigung-ui.js")
